@model TravelApp_DotnetMVC.Models.Destination
@{
    
    ViewBag.Title = "Create Destination";
    Layout = "_Layout";
}
<h2>Create Destination</h2>

<div>
    <form asp-controller="Destination" asp-action="Create" method="post" enctype="multipart/form-data">
        <label>Name:<input asp-for="Name" type="text"> </input></label> <br>
        <label>Description:<input asp-for="Description" type="text"/></label><br>
        <label>Image:<input name="imageFile" type="file"></input></label> <br>
        <label>Currency:<input asp-for="Currency" type="text"></input></label> <br>
        <input type="submit"/>
    </form>
</div>
