
@model IEnumerable<TravelApp_DotnetMVC.Models.Destination>
@{
    ViewBag.Title = "Destinations";
    Layout = "_Layout";
}

<h2>Destinations</h2>
<ul>
    @foreach (var destination in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@destination.Image" 
                 class="card-img-top" 
                 alt="@destination.Name" />
            <div class="card-body">
                <h5 class="card-title">@destination.Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a asp-action="Details" asp-route-id="@destination.Id" class="btn btn-primary">
                    View Details
                </a>
            </div>
        </div>
    }
</ul>
